.footer {
    background-color: #fff9ee; 
    margin-top:24px;
    width: 100%; 
    height: 48px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-top: 1.5px solid #eee8e1;
}