.footer {
    background-color: #f7fafc; 
}

.container {
    max-width: 768px; 
    width: 100%; 
    margin-left: auto; 
    margin-right: auto;
    height: 96px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}