.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 16px 0;
    text-align: center;
    color: #6f5d00;
}

.icon_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    display: block;
    color: #6f5d00;
    height: auto;
}

.List{
    margin: 32px auto;
}

@media (prefers-color-scheme: dark) {
    .title{
        color: #f3d500;
    }
}